{% extends "base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/my_publications/publicationsStyle.css' %}">
{% endblock %}

{% block title %}
    Мої публікації
{% endblock %}

{% block content %}
    <div id="publications-page-content">
        <div id = "user-frame">
            <div id = "profile">
                <img src="{% static 'img/userPhoto.jpg' %}" alt="фото юзера" id = "user-photo">
                <div id = "nickname">
                    <h3>{{ user.username }}</h3>
                    <h4>@user3092w498ur4</h4>
                </div>
            </div>
            <div id = "profile-data">
                <div id = "subscribers">
                    <h3>566</h3>
                    <h4>Дописи</h4>
                </div>
                <div id = "readers">
                    <h3>12.1К</h3>
                    <h4>Читачі</h4>
                </div>
                <div id = "friends">
                    <h3>222</h3>
                    <h4>Друзі</h4>
                </div>
            </div>
        </div>
        <div id = "publications">
            <textarea type="text" placeholder="Текст публікації" id = "new-publication-input"></textarea>
            <form method="post" id="new-publications-buttons">
                {% csrf_token %}
                <button type="submit" id = "sticker-button"><img src="{% static 'img/smile.png' %}" alt=""></button>
                <button type="submit" id = "publication-button">Перейти до оформлення <img src="" alt=""></button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/my_publications/publicationsScript.js' %}"></script>
{% endblock %}
