#main-page{
    
    background-color: #E9E5EE;

}
body{
    display: flex;
    flex-direction: row;
}

button{
    font-family: 'GT Walsheim Pro', sans-serif;
}

#user-frames{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 104px;
    left: 80px;
    gap: 8px;
}

#user-frame{
    background-color: #FFFFFF;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}
#user-photo{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 24px;
}
.user{
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
#user1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;

}
#user2{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 12px;

}
#user3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;

}
#chat-with-user1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;

}
#chat-with-user2{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 12px;

}
#chat-with-user3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;

}
#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nickname{
    color: #070A1C;
    font-family: 'GT Walsheim Pro';
    size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    gap: 10px;
}

#nickname h4{
    size: 16px;
    margin: 0px;
}

#nickname h3{
    margin: 0px;
}

#profile-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#profile-data div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#subscribers{
    color: #070A1C;
    font-family: 'GT Walsheim Pro';
    size: 20px;
}

#subscribers h4{
    color: #81818D;
    size: 16px;
}

#profile-data div *{
    margin: 0px;
}

#readers{
    color: #070A1C;
    font-family: 'GT Walsheim Pro';
    size: 20px;
}

#readers h4{
    color: #81818D;
    size: 16px;
}

#friends{
    color: #070A1C;
    font-family: 'GT Walsheim Pro';
    size: 20px;
}

#friends h4{
    color: #81818D;
    size: 16px;
}


#friends-frame{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    gap: 24px;
    padding: 16px;
}

#search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search *{
    margin: 0px;
}

#search button{
    color: #543C52;
    font-size: 16px;
    background-color: #FFFFFF;
    border: none;
}

#requests{
    color: #81818D;
    font-family: 'GT Walsheim Pro';
    size: 20px;
    display: flex;
    flex-direction: row;
}

#View-all-requests{
    color: #543C52;
    font-family: 'GT Walsheim Pro';
    size: 16px;
}

#other-users{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#other-users div *{
    margin: 0px;
}

#other-users div div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#user-information1{
    color: #070A1C;
    font-family: 'GT Walsheim Pro';
    size: 16px;
}

#user-information1 h5{
    color: #81818D;
    size: 14px;
}

#user-information2{
    color: #070A1C;
    font-family: 'GT Walsheim Pro';
    size: 16px;
}

#user-information2 h5{
    color: #81818D;
    size: 14px;
}

#user-information3{
    color: #070A1C;
    font-family: 'GT Walsheim Pro';
    size: 16px;
}

#user-information3 h5{
    color: #81818D;
    size: 14px;
}


#messages-frame{
    background-color: #FFFFFF;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 24px;
}

#notifications{
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

#notifications button{
    color: #543C52;
    font-size: 16px;
    background-color: #FFFFFF;
    border: none;
}

#notifications div *{
    margin: 0px;
}

#notification-icon{
    color: #81818D;
    font-family: 'GT Walsheim Pro';
    size: 20px;
    display: flex;
    flex-direction: row;
}

#View-all-notifications{
    color: #543C52;
    font-family: 'GT Walsheim Pro';
    size: 16px;   
}

#chats{
    display: flex;
    flex-direction: column;
}

#chat1{
    background-color: #E9E5EE;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 16px 8px 16px;
}

#name-and-message1{
    color: #070A1C;
    font-family: 'GT Walsheim Pro';
    size: 14px;
    
}
#name-and-message1 h5{
    margin: 0px;
}

#name-and-time1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    size: 16px;
}

#name-and-time1 *{
    margin: 0px;
}

#name-and-time1 h5{
    margin-left: 157px;
    font-weight: normal;
    color: #81818D;
    size: 12px;
    
}

#chat2{
    background-color: #E9E5EE;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 16px 8px 16px;
}

#name-and-message2{
    color: #070A1C;
    font-family: 'GT Walsheim Pro';
    size: 14px;
}

#name-and-message2 h5{
    margin: 0px;
}

#name-and-time2{
    size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#name-and-time2 *{
    margin: 0px;
}

#name-and-time2 h5{
    color: #81818D;
    size: 12px;
    font-weight: normal;
    margin-left: 157px;
}

#chat3{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 16px 8px 16px;
}

#name-and-message3{
    color: #070A1C;
    font-family: 'GT Walsheim Pro';
    size: 14px;
}

#name-and-message3 h5{
    margin: 0px;
}

#name-and-time3{
    size: 16px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#name-and-time3 *{
    margin: 0px;
}

#name-and-time3 h5{
    color: #81818D;
    size: 12px;
    font-weight: normal;
    margin-left: 157px;
}
#people-icon{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
#chat-icon{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
#main-page-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 88px;
    margin-right: 88px;
}
#publications{
    display: flex;
    flex-direction: column;
    margin-left:390px;
    margin-top: 104px;
    position: relative;
}

#new-publication-input{
    background-color: #FFFFFF;
    width: 97.7%;
    height: 120px;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    font-family: 'GT Walsheim Pro';
    font-size: 16px;
    color: #070A1C;
    overflow-x: hidden;
    resize: none;
    padding: 16px;
    
}
#new-publication-input::placeholder{
    font-size: 16px;
    color: #81818D;
    font-family: 'GT Walsheim Pro';

    
}
#new-publications-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    bottom: 16px;
    right: 16px;
    margin: 0px;
    gap: 13px;
}

#sticker-button{
    width: 40px;
    height: 40px;
    border: 1px solid #543C52;
    border-radius: 190px;
    background-color: #FFFFFF;
}

#publication-button{
    width: 190px;
    height: 40px;
    background-color: #543C52;
    border: none;
    border-radius: 1234px;
    color: #FFFFFF;
}
#new-publication-container {
    position: relative;
    width: 100%;
}

#sticker-button:hover{
    background-color: #E9E5EE;
    cursor: pointer;
}
#publication-button:hover{
    background-color: #ffffff;
    color: #543C52;
    border: 1px solid #543C52;
    cursor: pointer;
}
/* СТВОРЕННЯ ПУБЛІКАЦІЇ */
#create-publication-form{
    position: absolute;
    padding: 24px;
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 1px solid #CDCED2;
    border-radius: 20px;
    padding: 24px 44px 44px 44px;
}
#publication-form-inputs{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 16px;
}
#publication-form-inputs p{
    
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.publication-form-input{
    width: 50%;
}
#create-publication-form h3{
    margin: 0px;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 34px;
}
#close-button{
    text-align: end;
    border: none;
    background-color: #FFFFFF;
    font-family: 'GT Walsheim Pro Bold', sans-serif;
    font-size: 20px;
}
#create-publication-button{
    width: 130px;
    height: 40px;
    background-color: #543C52;
    border: none;
    border-radius: 1234px;
    color: #FFFFFF;
    z-index: 9999;
}
#create-publication-button:hover{
    background-color: #ffffff;
    color: #543C52;
    border: 1px solid #543C52;
    cursor: pointer;
}
#publication-form-inputs input, textarea{
    margin-top: 6px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 18px;
    color: #070A1C;
    padding: 16px 10px 16px 10px ;
}
#publication-form-inputs textarea{
    resize: none;
    height: 126px;
}
#publication-form-inputs label{
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 16px;
    color: #070A1C;
    
}
#add-image-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border: 1px solid #543C52;
    border-radius: 190px;
    background-color: #FFFFFF;
    z-index: 9997;
}
#add-image-button:hover{
    background-color: #E9E5EE;
    cursor: pointer;
}
#image-field{
   width: 100%;
   z-index: 9998;
}
#publication-form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    bottom: 16px;
    right: 16px;
    margin: 0px;
    gap: 13px;
}
#create-publication-form-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.publication-card{
    margin-top: 8px;
    width: 97.3%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 16px;
}
.publication-card img{
    width: 433px;
    height: 327px;
    border-radius: 16px;
}
.publication-card *{
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 16px;
    color: #070A1C;
    margin: 0px;
}
#user-photo-publication{
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
#publication-header *{
    margin: 0px;
}
.publication-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
}
.tag-text{
    color: #543C52;
}
.publication-dots{
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: none;
    z-index: 9999;
    text-align: start;
}
.publication-dots img{
    width: 20px;
    height: 20px;
}
.publication-dots:hover{
    cursor: pointer;
}
#creator-data{
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.dots-menu{
    width: 343px;
    height: auto;
    display: none;
    flex-direction: column;
    background-color: #E9E5EE;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    padding: 16px;
    gap: 16px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}
.dots-menu *{
    margin: 0px;
    color: #070A1C;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 16px;
}
.dots-menu hr{
    margin: 0px;
    color: #CDCED2;
}
.publication-dots-close{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: end;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #E9E5EE;
    border: none;
}
.dots-menu button{
    width: 100%;
    height: 30px;
    background-color: #E9E5EE;
    border: none;
    border-radius: 10px;
    color: #070A1C;
    font-family: 'GT Walsheim Pro Bold', sans-serif;
    font-size: 16px;
    text-align: start;
}
.dots-menu-button:hover{
    
    cursor: pointer;
}
.edit-publication-form-background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */

/* РЕДАГУВАННЯ ПУБЛІКАЦІЇ */
.edit-create-publication-form{
    position: absolute;
    padding: 24px;
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 1px solid #CDCED2;
    border-radius: 20px;
    padding: 24px 44px 44px 44px;
}
#edit-publication-form-inputs{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 16px;
}
#edit-publication-form-inputs p{
    
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.edit-publication-form-inputs{
    width: 50%;
}
.edit-create-publication-form h3{
    margin: 0px;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 34px;
}
.edit-close-button{
    text-align: end;
    border: none;
    background-color: #FFFFFF;
    font-family: 'GT Walsheim Pro Bold', sans-serif;
    font-size: 20px;
}
#edit-create-publication-button{
    width: 130px;
    height: 40px;
    background-color: #543C52;
    border: none;
    border-radius: 1234px;
    color: #FFFFFF;
    z-index: 9999;
}
#edit-create-publication-button:hover{
    background-color: #ffffff;
    color: #543C52;
    border: 1px solid #543C52;
    cursor: pointer;
}
#edit-publication-form-inputs input, textarea{
    margin-top: 6px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 18px;
    color: #070A1C;
    padding: 16px 10px 16px 10px ;
}
#edit-publication-form-inputs textarea{
    resize: none;
    height: 126px;
}
#edit-publication-form-inputs label{
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 16px;
    color: #070A1C;
    
}
#edit-add-image-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border: 1px solid #543C52;
    border-radius: 190px;
    background-color: #FFFFFF;
    z-index: 9997;
}
#edit-add-image-button:hover{
    background-color: #E9E5EE;
    cursor: pointer;
}
#image-field{
   width: 100%;
   z-index: 9998;
}
#edit-publication-form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    bottom: 16px;
    right: 16px;
    margin: 0px;
    gap: 13px;
}