{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/friends/allfriends.css' %}">
{% endblock %}

{% block title %}
    Всі друзі
{% endblock %}

{% block content %}
    <div id = 'friends-content'>
        <div id="sidebar">
            <a href="{% url 'friends' %}" id="friends-page-url" class="sidebar-url">Головна</a>
            <a href="{% url 'requests' %}" id="requests-url" class="sidebar-url">Запити</a>
            <a href="{% url 'recommendations' %}" id="recommendations-url" class="sidebar-url">Рекомендації</a>
            <a href="{% url 'all_friends' %}" id="all_friends-url" class="sidebar-url">Всі друзі</a>
            <hr>
        </div>
        <div id="sidebar-block"></div>
        <div id="friends-panel">
            <div id="allfriends-window">
                <div id="allfriends-header" class="text">
                    <h4>Всі друзі</h4>
                    <form id="watch-all-button3">
                        <button id="watch-all3" class="watch-all">Дивитись всі</button>
                    </form>
                </div>
                <div id="allfriends-users">
                    <div id="friend1" class="card">
                        <div id="friend-profile1" class="friend-profile">
                            <img src="{% static '../static/img/avatarka.png' %}" alt="">
                            <div id="rec-friend-information1" class="rec-friend-information">
                                <h3>Yehor Aung</h3>
                                <h4>@thelili</h4>
                            </div>
                        </div>
                        <form id="friend-buttons1" class="friend-buttons">
                            <button id="message-friend1" class="message-friend">Повідомлення</button>
                            <button id="delete-friend1" class="delete-friend">Видалити</button>
                        </form>
                    </div>
                    <div id="friend2" class="card">
                        <div id="friend-profile2" class="friend-profile">
                            <img src="{% static '../static/img/avatarka.png' %}" alt="">
                            <div id="rec-friend-information2" class="rec-friend-information">
                                <h3>Ann Ann</h3>
                                <h4>@thelili</h4>
                            </div>
                        </div>
                        <form id="friend-buttons2" class="friend-buttons">
                            <button id="message-friend2" class="message-friend">Повідомлення</button>
                            <button id="delete-friend2" class="delete-friend">Видалити</button>
                        </form>
                    </div>
                    <div id="friend3" class="card">
                        <div id="friend-profile3" class="friend-profile">
                            <img src="{% static '../static/img/avatarka.png' %}" alt="">
                            <div id="rec-friend-information3" class="rec-friend-information">
                                <h3>Ann Ann</h3>
                                <h4>@thelili</h4>
                            </div>
                        </div>
                        <form id="friend-buttons3" class="friend-buttons">
                            <button id="message-friend3" class="message-friend">Повідомлення</button>
                            <button id="delete-friend3" class="delete-friend">Видалити</button>
                        </form>
                    </div>
                    <div id="friend4" class="card">
                        <div id="friend-profile4" class="friend-profile">
                            <img src="{% static '../static/img/avatarka.png' %}" alt="">
                            <div id="rec-friend-information4" class="rec-friend-information">
                                <h3>Ann</h3>
                                <h4>@thelili</h4>
                            </div>
                        </div>
                        <form id="friend-buttons4" class="friend-buttons">
                            <button id="message-friend4" class="message-friend">Повідомлення</button>
                            <button id="delete-friend4" class="delete-friend">Видалити</button>
                        </form>
                    </div>
                    <div id="friend5" class="card">
                        <div id="friend-profile5" class="friend-profile">
                            <img src="{% static '../static/img/avatarka.png' %}" alt="">
                            <div id="rec-friend-information5" class="rec-friend-information">
                                <h3>Yehor Aung</h3>
                                <h4>@thelili</h4>
                            </div>
                        </div>
                        <form id="friend-buttons5" class="friend-buttons">
                            <button id="message-friend5" class="message-friend">Повідомлення</button>
                            <button id="delete-friend5" class="delete-friend">Видалити</button>
                        </form>
                    </div>
                    <div id="friend6" class="card">
                        <div id="friend-profile6" class="friend-profile">
                            <img src="{% static '../static/img/avatarka.png' %}" alt="">
                            <div id="rec-friend-information6" class="rec-friend-information">
                                <h3>Le Sya</h3>
                                <h4>@thelili</h4>
                            </div>
                        </div>
                        <form id="friend-buttons6" class="friend-buttons">
                            <button id="message-friend6" class="message-friend">Повідомлення</button>
                            <button id="delete-friend6" class="delete-friend">Видалити</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}