{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/friends/friends.css' %}">
    <link rel="stylesheet" href="{% static 'css/friends/modal.css' %}">
{% endblock %}

{% block title %}
    Друзі
{% endblock %}

{% block content %}
    <div id='friends-content'>
        <!-- Delete user modal -->
        <div class="modal-overlay" id="delete-user-modal">
            <div class="modal-container">
                <button class="modal-close">&times;</button>
                <div class="modal-content">
                    <h4>Підтвердити дію</h4>
                    <h5>Ви дійсно хочете видалити користувача?</h5>
                    <form class='delete-user-buttons-container'>
                        {% csrf_token %}
                        <button type="button" class="cancel-delete-user">Скасувати</button>
                        <button type="button" class="confirm-delete-user">Підтвердити</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="sidebar">
            <a href="{% url 'friends' %}" id="friends-page-url" class="sidebar-url">Головна</a>
            <hr>
            <a href="{% url 'requests' %}" id="requests-url" class="sidebar-url">Запити</a>
            <a href="{% url 'recommendations' %}" id="recommendations-url" class="sidebar-url">Рекомендації</a>
            <a href="{% url 'all_friends' %}" id="all_friends-url" class="sidebar-url">Всі друзі</a>
        </div>
        <div id="sidebar-block"></div>
        <div id="friends-panel">
            <div id="request-window">
                <div id="request-header" class="text">
                    <h4>Запити</h4>
                    <form id="watch-all-button1">
                        <button id="watch-all1" class="watch-all">Дивитись всі</button>
                    </form>
                </div>
                <div id="requested-users">
                    {% if friend_requests %}
                        {% for user in friend_requests %}
                            <div class="card">
                                <div class="request-profile">
                                    <img src="{{ user.avatar_url|default:'/static/img/avatarka.png' }}" alt="">
                                    <div class="profile-information">
                                        <h3>{{ user.fullname }}</h3>
                                        <h4>@{{ user.username }}</h4>
                                    </div>
                                </div>
                                <form class="request-buttons">
                                    <button type="button" class="confirm-request">Підтвердити</button>
                                    <button type="button" class="delete-request">Видалити</button>
                                </form>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>У вас ще немає запитів у друзі.</p>
                    {% endif %}
                </div>
            </div>
            <div id="recommendations-window">
                <div id="recommendations-header" class="text">
                    <h4>Рекомендації</h4>
                    <form id="watch-all-button2">
                        <button id="watch-all2" class="watch-all">Дивитись всі</button>
                    </form>
                </div>
                <div id="recommended-users">
                    {% for user in recommended_users %}
                        <div class="card">
                            <div class="recommendation-profile">
                                <img
                                    src="{% if user.avatar_url %}{{ user.avatar_url }}{% else %}{% static 'img/avatarka.png' %}{% endif %}"
                                    alt=""
                                >
                                <div class="rec-profile-information">
                                    <h3>{{ user.fullname }}</h3>
                                    <h4>@{{ user.username }}</h4>
                                </div>
                            </div>
                            <form class="recommendation-buttons">
                                <button type="button" class="add-recommendation">Додати</button>
                                <button type="button" class="delete-recommendation">Видалити</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="allfriends-window">
                <div id="allfriends-header" class="text">
                    <h4>Всі друзі</h4>
                    <form id="watch-all-button3">
                        <button id="watch-all3" class="watch-all">Дивитись всі</button>
                    </form>
                </div>
                {% if friends %}
                    <div id="allfriends-users">
                        {% for friend in friends %}
                            <div class="card">
                                <div class="friend-profile">
                                    <img src="{% if friend.avatar_url %}{{ friend.avatar_url }}{% else %}{% static 'img/avatarka.png' %}{% endif %}" alt="">
                                    <div class="rec-friend-information">
                                        <h3>{{ friend.fullname }}</h3>
                                        <h4>@{{ friend.username }}</h4>
                                    </div>
                                </div>
                                <form class="friend-buttons">
                                    <button type="button" class="message-friend">Повідомлення</button>
                                    <button type="button" class="delete-friend">Видалити</button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p id="no-friends-message">У вас ще немає друзів</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/friends/friends.js' %}"></script>
{% endblock %}
