{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/friends/requests.css' %}">
{% endblock %}

{% block title %}
    Запити
{% endblock %}

{% block content %}
    <div id = 'friends-content'>
        <div id="sidebar">
            <a href="{% url 'friends' %}" id="friends-page-url" class="sidebar-url">Головна</a>
            <a href="{% url 'requests' %}" id="requests-url" class="sidebar-url">Запити</a>
            <hr>
            <a href="{% url 'recommendations' %}" id="recommendations-url" class="sidebar-url">Рекомендації</a>
            <a href="{% url 'all_friends' %}" id="all_friends-url" class="sidebar-url">Всі друзі</a>
        </div>
        <div id="sidebar-block"></div>
        <div id="friends-panel">
            <div id="request-window">
                <div id="request-header" class="text">
                    <h4>Запити</h4>
                    <form id="watch-all-button1">
                        <button id="watch-all1" class="watch-all">Дивитись всі</button>
                    </form>
                </div>
                <div id="requested-users">
                    <div id="request1" class="card">
                        <div id="request-profile1" class="request-profile">
                            <img src="{% static '../static/img/avatarka.png' %}" alt="">
                            <div id="profile-information1" class="profile-information">
                                <h3>Yehor Aung</h3>
                                <h4>@thelili</h4>
                            </div>
                        </div>
                        <form id="request-buttons1" class="request-buttons">
                            <button id="confirm-request1" class="confirm-request">Підтвердити</button>
                            <button id="delete-request2" class="delete-request">Видалити</button>
                        </form>
                    </div>
                    <div id="request2" class="card">
                        <div id="request-profile2" class="request-profile">
                            <img src="{% static '../static/img/avatarka.png' %}" alt="">
                            <div id="profile-information2" class="profile-information">
                                <h3>Ann Ann</h3>
                                <h4>@thelili</h4>
                            </div>
                        </div>
                        <form id="request-buttons2" class="request-buttons">
                            <button id="confirm-request2" class="confirm-request">Підтвердити</button>
                            <button id="delete-request2" class="delete-request">Видалити</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}