{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/my_settings/my_settings.css' %}">
{% endblock %}

{% block title %}
    Налаштування
{% endblock %}

{% block content %}
    <div id = 'settings-page-content'>
        <div id="sidebar">
            <div id="information-tab">
                <button type="submit" id="personal-information" >Особиста інформація</button>
            </div>
            <hr>
            <div id="albums-tab">
                <button type="submit" id="album">Альбоми</button>
            </div>
        </div>
        <div id="edit-panel">
            <div id="profile-card" class = 'card'>
                <div id="profile-header">
                    <h4>Картка профілю</h4>
                    <button type="submit" id="edit-information1" class = 'button-edit-info'><img src="" alt="">Редагувати інформацію</button>
                </div>
                <div id="user">
                    <div id="avatar">
                        <img src="" alt="">
                    </div>
                    <div id="nickname">
                        <h3>{{ user.first_name }}</h3>
                        <h4>@{{ user.username }}</h4>
                    </div>
                </div>
            </div>
            <div id="editing-personal-information" class = 'card'>
                <div id="information-header">
                    <h4>Особиста інформація</h4>

                    <button type="submit" id="edit-information2" class = 'button-edit-info'><img src="" alt="">Редагувати інформацію</button>
                </div>
                <div id="edit-personal-information">
                    <div id="enter-name">
                        <h4>Ім'я</h4>
                        {% if user.first_name %}
                            <p>{{ user.first_name }}</p>
                        {% else %}
                            <input type="text" name="first_name" id="name" placeholder="Ім'я">
                        {% endif %}
                    </div>

                    <div id="enter-surname">
                        <h4>Прізвище</h4>
                        {% if user.last_name %}
                            <p>{{ user.last_name }}</p>
                        {% else %}
                            <input type="text" name="last_name" id="surname" placeholder="Прізвище">
                        {% endif %}
                    </div>

                    <div id="enter-date">
                        <h4>Дата народження</h4>
                        {% if user.profile.date_of_birth %}
                            <p>{{ user.profile.date_of_birth }}</p>
                        {% else %}
                            <input type="date" name="date_of_birth" id="date-of-birth">
                        {% endif %}
                    </div>

                    <div id="enter-email">
                        <h4>Електронна адреса</h4>
                        {% if user.email %}
                            <p>{{ user.email }}</p>
                        {% else %}
                            <input type="email" name="email" id="email" placeholder="you@example.com">
                        {% endif %}
                    </div>

                    <div id="enter-password">
                        <h4>Пароль</h4>
                        <p>**********</p> {# Пароль всегда скрыт #}
                    </div>
                </div>
            </div>
            <div id="signature-options" class = 'card'>
                <div id="header-signature">
                    <h4>Варіанти підпису</h4>
                    <button type="submit" id="edit-information3" class = 'button-edit-info'><img src="" alt="">Редагувати інформацію</button>
                </div>
                <div id="edit-signature">
                    <div id="name-and-surname-button">
                        <button type="submit" id="name-and-surname"><img src="" alt="">Ім'я та прізвище</button>
                        <h4>Lina Li</h4>
                    </div>
                    <div id="my-electronic-signature-button">
                        <button type="submit" id="my-electronic-signature"><img src="" alt="">Мій електронний підпис</button>
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}