{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/chats/chats.css' %}">
{% endblock %}

{% block title %}
    Повідомлення
{% endblock %}

{% block content %}
    <div id="chat-page-content">
        <div id="contact-panel">
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" id="create-group"><img src="" alt="">Створити груповий чат</button>
            </form>
            <div id="contacts-window">
                <div id="contact-header">
                    <img src="" alt="">
                    <h4>Контакти</h4>
                </div>
                <input type="text" name="" id="search" placeholder="Пошук">
                <div id="contacts">
                    {% for contact in contacts %}
                        <a href="?chat_id={{ contact.id }}" class="contact-link">
                            <div class="contact">
                                <img src="{% static '../static/img/avatarka.png' %}" class='user-photo' alt="{{ contact.user.username }}">
                                <h4>{{ contact.user.get_full_name|default:contact.user.username }}</h4>
                            </div>
                        </a>
                    {% endfor %}
                </div>

            </div>
        </div>
        {% if active_chat %}
            <div id="chat-panel" data-chat-id="{{ active_chat.id }}" data-user-id="{{ request.user.profile.id }}">

                <div id="chat-header">
                    <h4>{{ active_chat.name }}</h4>
                    <hr>
                </div>

                <div id="chat-messages">

                    {% for message in messages %}
                        <div class="message {% if message.author == request.user.profile %}sent{% else %}received{% endif %}">
                            <p>{{ message.content }}</p>
                            {% if message.attached_image %}
                                <img src="{{ message.attached_image.url }}" alt="Зображення" class="message-image">
                            {% endif %}
                            <span class="message-time">{{ message.sent_at|date:"H:i" }}</span>
                        </div>
                    {% endfor %}
                </div>

                <div id="chat-input">
                   <form id="message-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea name="content" placeholder="Напишіть повідомлення..." required></textarea>
                        <!-- <input type="file" name="attached_image" accept="image/*"> -->
                        <button type="submit" id = 'send-emoji'><img src="{% static '../static/img/emoji.png' %}" alt=""></button>
                        <button type="submit" id  = 'send-image'><img src="{% static '../static/img/Picture.png' %}" alt=""></button>
                        <button type="submit" id = 'send-message'><img src="{% static 'img/Btn.png' %}" alt=""></button>
                        
                    </form>
                </div>
            </div>
        {% else %}
            <div id="empty-panel">
                <div id="text">
                    <h5 id='text-empty-panel1'>Почніть нове спілкування</h5>
                    <h5 id='text-empty-panel2'>Оберіть контакт...</h5>
                </div>
            </div>
        {% endif %}

        <div id="chats-panel">
            <div id="messages-window">
                <div id="chats-header">
                    
                    <div id="messages">
                        <img src="" alt="">
                        <h4>Повідомлення</h4>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" id="see-all1" class="see-all">Дивитись всі</button>
                    </form>
                </div>
                <div id="chats">
                    {% for chat in personal_chats %}
                        <a href="?chat_id={{ chat.id }}">
                            <div class="chat {% if chat.id == active_chat.id %}active-chat{% endif %}">
                                <img src="{% static '../static/img/avatarka.png' %}" alt="{{ chat.name }}" class = 'chat-avatar'>
                                <div class="chat-info">
                                    <div class="user">
                                        <h4>{{ chat.name }}</h4>
                                        {% with chat.chatmessage_set.last as last_message %}
                                            <h5>{{ last_message.sent_at|date:"H:i" }}</h5>
                                        {% endwith %}
                                    </div>
                                    <h5>
                                        {% if last_message %}
                                            {{ last_message.content|truncatechars:30 }}
                                        {% endif %}
                                    </h5>
                                </div>
                            </div>
                        </a>
                    {% endfor %}

                </div>
            </div>
            <div id="groups-window">
                <div id="groups-header">
                    <div id="group-chats">
                        <img src="" alt="">
                        <h4>Групові чати</h4>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" id="see-all2" class="see-all">Дивитись всі</button>
                    </form>
                </div>
                <div id="groups">
                    {% for chat in group_chats %}
                        <a href="?chat_id={{ chat.id }}">
                            <div class="group {% if chat.id == active_chat.id %}active-chat{% endif %}">
                                <img src="{{ chat.avatar.url|default_if_none:'/static/images/default-group.png' }}" alt="{{ chat.name }}">
                                <div class="group-info">
                                    <div class="info">
                                        <h4>{{ chat.name }}</h4>
                                        {% with chat.chatmessage_set.last as last_message %}
                                            <h5>{{ last_message.sent_at|date:"H:i" }}</h5>
                                        {% endwith %}
                                    </div>
                                    <h5>{% if last_message %}{{ last_message.content|truncatechars:30 }}{% endif %}</h5>
                                </div>
                            </div>
                        </a>
                    {% endfor %}

            </div>
        </div>
    </div>
    <script src="{% static 'js/chats/chats.js' %}" defer></script>
{% endblock %}